<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Survivor - Login</mat-card-title>
      <mat-card-subtitle>Inserisci la tua email per ricevere il magic link</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            placeholder="la-tua-email@esempio.com"
            required
            (keydown.enter)="onSubmit()"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit"  class="submit-btn">
          {{ 'Invia Magic Link' }}
        </button>
      </form>

      @if (message) {
        <mat-card class="message-card" [class.success]="isSuccess" [class.error]="!isSuccess">
          <mat-card-content>
            {{ message }}
          </mat-card-content>
        </mat-card>
      }
    </mat-card-content>
  </mat-card>
</div>
