<div class="home-container">
  <mat-toolbar color="primary" class="header">
    <div class="header-content">
      <h1>Survivor</h1>&nbsp;
      @if (!isProd) {
        <span>{{ environmentName }}</span>
      }
      <div class="user-info">
        <mat-chip>
          {{ me?.nome }}
          <mat-icon
            class="calcola-icon"
            (click)="goToMe()"
            matTooltip="Configura l'utente"
            >settings_b_roll</mat-icon
          >

        </mat-chip>
        <mat-chip>
          Role: {{ currentUser?.role }}
        </mat-chip>
        
        <button mat-raised-button color="warn" (click)="logout()" class="btn-logout">Logout</button>
      </div>
    </div>
  </mat-toolbar>

  <main class="main-content">
    <div class="actions">
      @if (isAdmin()) {
        <button mat-raised-button color="accent" (click)="goToAdmin()" class="btn-admin">
        Area Admin
        </button>
      }
    </div>

    <section class="leghe-section">
      <h2>Le tue Leghe</h2>
      @if (leghe.length === 0) {
        <mat-card class="no-data">
          <mat-card-content>
            <p>Nessuna lega disponibile al momento</p>
          </mat-card-content>
        </mat-card>
      }

      @if (groupedLeghe.length > 0) {
        <div class="leghe-groups">
          @for (group of groupedLeghe; track group.name) {
            <mat-card class="lega-group-card">
              <mat-card-header>
                <mat-card-title>{{ group.name }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="edizioni-list">
                  @for (edizione of group.edizioni; track edizione.id) {
                    <mat-card class="lega-card small">
                      <mat-card-header>
                        <mat-card-title>{{ edizione.name }} - {{ edizione.edizione }}</mat-card-title>
                        @if (edizione.campionato?.id ?? '') {
                          <mat-card-subtitle>{{ edizione.campionato?.sport?.nome  }} - {{ edizione.campionato?.nome ?? '' }}</mat-card-subtitle>
                        }
                        <mat-card-subtitle>{{ edizione.stato.descrizione }}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="goToLega(edizione.id)">Visualizza</button>
                        @if (visualizzaInvito(edizione)){
                        <button mat-raised-button color="accent" (click)="openInvitaDialog(edizione)">Invita utenti</button>
                        }
                        @if (isTerminata(edizione) && notExistsNuovaEdizione(edizione)){
                        <button mat-raised-button color="warn" (click)="nuovaEdizione(edizione)">Nuova Edizione</button>
                        }
                      </mat-card-actions>
                    </mat-card>
                  }
                </div>
              </mat-card-content>
            </mat-card>
          }
        </div>
      }
      </section>
      <section class="leghe-section">
      <h2>Nuove leghe</h2>
        <div class="leghe-groups">
          <mat-card class="lega-group-card">
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="edizioni-list">
                <mat-card class="lega-card small">
                  <mat-card-header>
                    <mat-card-title>Crea una nuova lega</mat-card-title>
                  </mat-card-header>
                  <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="goToCreaLega()">Crea</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="lega-group-card">
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="edizioni-list">
                <mat-card class="lega-card small">
                  <mat-card-header>
                    <mat-card-title>Unisciti ad una lega esistente</mat-card-title>
                  </mat-card-header>
                  <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="goToUniscitiLega()">Unisciti</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
    </section>
  </main>
</div>
