<mat-card class="lega-card small">
  <mat-card-header>
    <mat-card-title
      >{{ lega?.name }} <small>ed. {{ lega?.edizione }}</small></mat-card-title
    >
    <mat-card-subtitle
      >{{ lega?.campionato?.sport?.nome }} —
      {{ lega?.campionato?.nome }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="meta">
      <span *ngIf="lega">Giornata iniziale: {{ lega.giornataIniziale }}</span>
      <span *ngIf="lega">Numero Iscritti: {{ lega.giocatori?.length }}</span>
      <span *ngIf="lega?.withPwd">Con password</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAction()">
      <mat-icon>{{ getGiocaIcon((lega?.campionato?.sport)!.id) }}</mat-icon>
      Entra nella lega
    </button>
  </mat-card-actions>
</mat-card>
