<h2 mat-dialog-title>{{ 'SUSPENSIONS.TITLE' | translate }}</h2>
<mat-dialog-content>
  <div *ngIf="giornate?.length; else empty">
    <mat-list>
      <mat-list-item *ngFor="let g of giornate">
        <span class="mat-line">{{ 'LEAGUE.ROUND' | translate }} {{ g }}</span>
        <button mat-icon-button color="warn" (click)="remove(g)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-template #empty>
    <div>{{ 'SUSPENSIONS.NO_SUSPENSIONS' | translate }}</div>
  </ng-template>

  <div class="add-row">
    <mat-form-field>
      <input matInput type="number" [placeholder]="'SUSPENSIONS.NEW_ROUND_PLACEHOLDER' | translate" [(ngModel)]="newGiornata" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="add()">{{ 'COMMON.ADD' | translate }}</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button>
</mat-dialog-actions>
