spring:
  application:
    name: survivor
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: ${MAIL_FROM}

security:
  admin:
    password: ${ADMIN_PASSWORD}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000 # 24 ore in millisecondi

magic-link:
  expiration-minutes: 15
  base-url: ${MAGIC_LINK_BASE_URL}
  relative-url-send-mail: /auth/verify?token=

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

server:
  port: ${PORT}


