spring:
  application:
    name: survivor
  datasource:
    url: jdbc:postgresql://85.235.148.177:6438/db_survivor
    username: survivor_user
    password: ${pwddb}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

security:
  admin:
    password: ${admin.password}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

